@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
:root {
  --fs-default: 1em;
  --fs-large: 1.125em;
  --fs-xlarge: 1.25em;
  --fs-title: 1.5em;
  --clr-theme: #04619f;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url(/assets/images/map.jpg) center no-repeat;
  background-size: cover;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.container {
  margin: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  padding: 2em;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: var(--fs-default);
}

.title {
  font-size: var(--fs-title);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1.25em;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  bottom: -0.1em;
  left: 0;
  height: 3px;
  width: 2.5em;
  background: linear-gradient(45deg, var(--clr-theme), #ffffff);
  border-radius: 5px;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  width: 100%;
  margin-bottom: 1.5em;
}

label {
  font-size: var(--fs-default);
  display: block;
  font-weight: 500;
  margin-bottom: 0.25em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

input {
  width: 100%;
  height: 2.75em;
  border: none;
  outline: none;
  border-radius: 0.3em;
  font-size: var(--fs-default);
  padding-left: 1em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input:focus {
  -webkit-box-shadow: 0 0 0.3em 0.3em #e0e0e0;
          box-shadow: 0 0 0.3em 0.3em #e0e0e0;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

.form-title {
  font-size: var(--fs-xlarge);
  font-weight: 500;
}

.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1em;
  padding: 1em 0;
}

.selection label {
  font-size: var(--fs-default);
  margin-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection label::before {
  content: "";
  height: 0.5em;
  width: 0.5em;
  margin-right: 10px;
  background: #ffffff;
  border: 0.2em solid #ffffff;
}

.selection--radio label::before {
  border-radius: 50%;
}

input[type="radio"]:checked ~ label::before,
input[type="checkbox"]:checked ~ label::before {
  background: var(--clr-theme);
}

button {
  width: 100%;
  background: #000000;
  background-image: linear-gradient(145deg, #000000 0%, var(--clr-theme) 70%);
  border-style: none;
  outline: none;
  border-radius: 0.5em;
  color: #ffffff;
  padding: 0.75em;
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:hover {
  -webkit-box-shadow: 0 2px 1.5em var(--clr-theme);
          box-shadow: 0 2px 1.5em var(--clr-theme);
  letter-spacing: 0.1em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 44em) {
  body {
    height: 100vh;
  }
  .container {
    max-width: 44em;
  }
  .col {
    width: calc(50% - 1.25em);
  }
}

@media (min-width: 112.5em) {
  :root {
    --fs-default: 1.0625em;
    --fs-large: 1.1875em;
    --fs-xlarge: 1.3125em;
    --fs-title: 1.5625em;
  }
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 5px 0;
}

footer span {
  color: red;
  margin: 0 5px;
}

footer a {
  color: greenyellow;
  text-decoration: none;
}
